.about {
  &-container {
    display: flex;
    width: 100%;
    gap: 10px;
    overflow: hidden;
  }
  &-images {
    flex-grow: 1;
    position: relative;
    display: grid;
    grid-template-rows: 1fr;

    place-items: center;
  }
  &-image {
    width: 100%;
    transform: none;
    opacity: 1;
    transition: all 1.2s cubic-bezier(0.17, 0.55, 0.55, 1) 0.5s;
    &-hidden {
      transform: translateX(200%);
      opacity: 0;
    }
  }
  &-contents {
    flex: 1 0;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 2rem;
    p {
      @include text-title-thin();
    }
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h1 {
      @include text-title-regular();
      span {
        color: $primary-color;
        font-weight: 700;
      }
    }
    h3 {
      @include text-title-thin();
      span {
        color: $secondary-color;
        font-weight: 700;
      }
    }
  }
}
