.nav {
  z-index: 1;
  &-container {
    display: flex;
    justify-content: space-between;
  }
  &-logo {
    //
    flex: 1;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
  }
  &-menu {
    flex: 7;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    list-style: none;
    li {
      flex-basis: 10vw;
      text-align: center;
      transition: all 0.3s linear;
      position: relative;
      padding: 0.5rem 0;
      a {
        text-decoration: none;
        color: var(--text);
        font-size: 1.2rem;
        font-weight: 700;
        transition: all 0.3s linear;
        text-transform: capitalize;
        &:hover {
          color: #ff2e63;
        }
      }
      &[data-set="active"] {
        > a {
          color: $primary-color;
          text-transform: uppercase;
        }
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background: $primary-color;
          transition: all 0.3s linear;
        }
      }
    }
  }
  &-action {
    //
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    &-lang {
      flex: 1;
      color: var(--text);
      display: flex;

      &-list {
        background-color: var(--text);
        position: absolute;
        display: flex;
        flex-direction: column;
      }

      &-option {
        color: var(--background);
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        border: 1px solid red;
        height: 50px;
      }

      ul,
      li {
        list-style: none;
      }
    }
    &-theme {
      flex: 1;
      input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }
    }
  }
}
