html[data-theme="light"] {
  color-scheme: light;
  --text: #{$black-color};
  --background: #{$white-color};
}

html[data-theme="dark"] {
  color-scheme: dark;
  --text: #{$white-color};
  --background: #{$black-color};
}
html {
  background-color: var(--background);
  color: var(--text);
}
