html {
  background-color: var(--color-background);
  color: var(--color-text);
}
html[data-theme="light"] {
  --color-text: #{$black-color};
  --color-background: #{$white-color};
}

html[data-theme="dark"] {
  --color-text: #{$white-color};
  --color-background: #{$black-color};
}
